In [1]:
import string
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
import en_core_web_sm
import pandas as pd

import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

import joblib

INFO:tensorflow:Enabling eager execution
INFO:tensorflow:Enabling v2 tensorshape
INFO:tensorflow:Enabling resource variables
INFO:tensorflow:Enabling tensor equality
INFO:tensorflow:Enabling control flow v2

In [2]:
data =  pd.read_csv("C:/Users/hjjc1/Desktop/tripadvisor_hotel_reviews.csv")


data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
#vamos a tratar los datos del csv que nos llegan cambiando la puntuancion de estrellas por sentimientos mayor de 3 positivo=1 >3 negativo = 0
data["Rating"] = data["Rating"].apply(lambda x: 1 if x>3 else(3 if x==3 else 0))

#Vamos a eliminar los datos nuestro ==3
indexNames = data[data["Rating"]==3].index
data.drop(indexNames, inplace=True)

In [4]:
data

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       1
1      ok nothing special charge diamond member hilto...       0
3      unique, great stay, wonderful time hotel monac...       1
4      great stay great stay, went seahawk game aweso...       1
5      love monaco staff husband stayed hotel crazy w...       1
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       1
20487  great location price view hotel great quick pl...       1
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[18307 rows x 2 columns]

In [5]:
#Create our list puntuations marks
punctuations = string.punctuation
#create our list of stopwords 
stop_words = spacy.lang.en.stop_words.STOP_WORDS
#Load a englis tokenizer 
parser= nlp = en_core_web_sm.load()

In [6]:
def deleteRegularExpresion(text):
    if type(text) == str:
        text = re.sub('<[^>]*>', '', text)
        text = re.sub('[\W]+', '', text.lower())
        
    return text

In [7]:
#creamos nuestra nueva funcion para tokenizar el texto
def spacy_tokenizer(doc):
    # Creating our token object, which is used to create documents with linguistic annotations.
    mytokens = parser(doc)
    
    lema_list=[]
    for token in mytokens:
        if token.is_stop is False:
            token_preprocessed = deleteRegularExpresion(token.lemma_)
            if token_preprocessed != '':
                lema_list.append(token_preprocessed)
    return lema_list


def clean_text(tex):
    #borramos espacios y convertimos el textoa minusculas
    return tex.strip().lower()

In [9]:
data['NewReview'] = data["Review"].apply(lambda x: " ".join(spacy_tokenizer(clean_text(x))))

In [11]:
data

,Review,Rating,NewReview
0,nice hotel expensive parking got good deal sta...,1,nice hotel expensive parking get good deal sta...
1,ok nothing special charge diamond member hilto...,0,ok special charge diamond member hilton decide...
3,"unique, great stay, wonderful time hotel monac...",1,unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",1,great stay great stay go seahawk game awesome ...
5,love monaco staff husband stayed hotel crazy w...,1,love monaco staff husband stay hotel crazy wee...
...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",1,well keep secret 3rd time stay charm 5 star be...
20487,great location price view hotel great quick pl...,1,great location price view hotel great quick pl...
20488,"ok just looks nice modern outside, desk staff ...",0,ok look nice modern outside desk staff particu...
20489,hotel theft ruined vacation hotel opened sept ...,0,hotel theft ruin vacation hotel open sept 17 2...
20490,"people talking, ca n't believe excellent ratin...",0,people talk believe excellent rating hotel yes...

In [12]:
print(data["Review"][0])

nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,

In [13]:
# Split into training and test sets
X_train, X_test, y_train, y_test= train_test_split(data["NewReview"],data["Rating"], test_size=0.30, random_state=24)

In [14]:
# Create CountVectorizer object, specifying the arguments to preprocess text

vectorizer= CountVectorizer()
X_train_bow = vectorizer.fit_transform(X_train)
X_test_bow = vectorizer.transform(X_test)

In [15]:
classifier = LogisticRegression(max_iter = 200)

In [16]:
classifier.fit(X_train_bow,y_train)

LogisticRegression(max_iter=200)

In [17]:
predicted = classifier.predict(X_test_bow)

In [18]:
classifier.coef_

array([[0.03812937, 0.001538  , 0.13033049, ..., 0.00108964, 0.01232955,
        0.00016245]])

In [19]:
print("Logistic Regression Accuracy:",metrics.accuracy_score(y_test, predicted))
print("Logistic Regression Precision:",metrics.precision_score(y_test, predicted))
print("Logistic Regression Recall:",metrics.recall_score(y_test, predicted))

Logistic Regression Accuracy: 0.9464773347897324
Logistic Regression Precision: 0.9563794983642312
Logistic Regression Recall: 0.9790131725831659

In [20]:
text = "The room was exceptionally hot. When we reported to maintenance they asked us to wait 2 hours for the air conditioning to work and told us to open a window. We woke up the next morning in 29.5 degree heat."

In [21]:
text_clean = " ".join(spacy_tokenizer(clean_text(text)))

text_clean

vectBow = vectorizer.transform([text_clean])

In [22]:
predicion = classifier.predict(vectBow)

In [23]:
print(predicion)

[0]

In [22]:
#vmos a guardar nuestro modelo 
joblib.dump(vetorize, "./vectorize.joblib", compress=True)
joblib.dump(classifier, "./classifier.joblib", compress=True)

['./vectorize.joblib']

In [25]:
#vamos a sacar algunas caracteristicas d nuestro clasificador
from sklearn.metrics import classification_report

In [26]:
print(classification_report(y_test, predicted))

              precision    recall  f1-score   support

           0       0.90      0.80      0.85      1014
           1       0.96      0.98      0.97      4479

    accuracy                           0.95      5493
   macro avg       0.93      0.89      0.91      5493
weighted avg       0.95      0.95      0.95      5493

In [27]:
print(classifier.predict_proba(vectBow))

[[0.97701293 0.02298707]]