In [1]:
import string
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
import en_core_web_sm
import pandas as pd

import re
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

import joblib

INFO:tensorflow:Enabling eager execution
INFO:tensorflow:Enabling v2 tensorshape
INFO:tensorflow:Enabling resource variables
INFO:tensorflow:Enabling tensor equality
INFO:tensorflow:Enabling control flow v2

In [2]:
data =  pd.read_csv("C:/Users/hjjc1/Desktop/tripadvisor_hotel_reviews.csv")


data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
#vamos a tratar los datos del csv que nos llegan cambiando la puntuancion de estrellas por sentimientos mayor de 3 positivo=1 >3 negativo = 0
data["Rating"] = data["Rating"].apply(lambda x: 1 if x>3 else(3 if x==3 else 0))

#Vamos a eliminar los datos nuestro ==3
indexNames = data[data["Rating"]==3].index
data.drop(indexNames, inplace=True)

In [4]:
data

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       1
1      ok nothing special charge diamond member hilto...       0
3      unique, great stay, wonderful time hotel monac...       1
4      great stay great stay, went seahawk game aweso...       1
5      love monaco staff husband stayed hotel crazy w...       1
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       1
20487  great location price view hotel great quick pl...       1
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[18307 rows x 2 columns]

In [2]:
from sklearn.base import TransformerMixin

class predictors():
    def tranform(self, X, **transform_params):
        return [clean_text(text) for text in X]
    
    def fit(self, X, y=NONE, **fit_params):
        retunr self;
def clean_text(tex):
    returntext.strip().lower()